.col-head {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
}

.psb-pages ion-card.psb-page-card ion-card-header ion-card-title {
    color: #040e04;
    border-bottom: 2px solid #99ebea;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 2px;
}
  
/* ion-col {
    /* background-color: #135d54; 
    background-color: #00203F;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
} */

.ion-col-petrol {
    /* background-color: #135d54;  ADF0D1*/ 
    background-color: #00203F;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.petroldet {
    /* background-color: #00203F; #135d54; */
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.topic {
    font-size: x-large;
    font-weight: 600;
    color: #FF8F00;
}

/* #scroller{
    width: '90%';
    overflow-x: 'scroll';
} */

/* .dataTable {
    text-align: center;
  }
  
  .dataTable-header {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 5px 10px;
  }
  
  .dataTable-row {
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  } */


  